
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
    
body {
    background-color: whitesmoke;
}

nav {
    display: flex;
    background-color: orange;
    width: 100%;
    justify-content: center;
    padding: 0.2em;
    font-family: "Arial", "Helvetica", sans-serif;
}

nav a {
    margin: 2em 1em 0px 1em;
    color: navy;
}

nav a:hover {
    color: whitesmoke;
}

.img-hero {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.flex-container {
    display: flex;
    width: 100%;
    background-color: lightcyan;
}

main {
    flex: 2;
    margin: 1em;
}

aside {
    flex: 1;
    margin: 1em;
}

footer {
    background-color: gray;
    color: white;
    text-align: center;
}

footer a {
    color: goldenrod;
}

h1, h2, h3 {
    color: red;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

.wrapper {
    background-color: lightgoldenrodyellow;
}